<mat-card>   
    <mat-card-title class="mb-2 text-center ">Welcome</mat-card-title>
    <mat-card-content class="d-flex justify-content-center">  

      <div *ngIf="!(loggedIn$ | async)" class="h-100 d-flex flex-column col-6">                       
        <button class="btn btn-primary btn-sm" mat-button  (click)="onLogIn()" >Log In</button>  
      </div>   

     

      <div *ngIf="loggedIn$ | async" class="h-100 d-flex flex-column col-6">      
        <div  ngbDropdown class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" ngbDropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">
              Choose an Office
          </button>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
              <a *ngFor="let office of offices$ | async" class="dropdown-item" (click)="onSelectOffice(office)" routerLinkActive="active" >{{office.OfficeName}}</a> 
          </div>
        </div>
      </div>


      
    </mat-card-content>           
</mat-card>
  