<div ngbDropdown [placement]="placement" #dropdown="ngbDropdown">

  <!-- The Search Field -->
  <mat-form-field class="mx-2">
  <input
         #input
         (blur)="onBlur();"
         [disabled]="isDisabled"
         (keydown)="onKeyDown($event)"
         ngbDropdownAnchor
         autocomplete="off" 
         matInput
         [required]="isRequired"
         [(ngModel)]="inputValue"
         #inputControl="ngModel"/>

         <mat-error *ngIf="inputControl.invalid">You must select a value</mat-error>
        </mat-form-field>
  <!-- The Results Dropdown -->
  <div ngbDropdownMenu aria-labelledby="drop">
    <ng-container *ngIf="showResults">
      <button class="dropdown-item" *ngFor="let item of searchResults; let i = index"
              [class.active]="i===highlightedIndex" (mouseenter)="onMouseEnter(i)" style="cursor:default" (focus)="onFocus(item)">
        {{ format(item) }}
      </button>
    </ng-container>
    <div class="text-center">
      <span><b-spinner *ngIf="showSpinner"></b-spinner></span>
    </div>
    <div class="pl-2 pr-2">
      <b-error-message *ngIf="showError">Failed to load items</b-error-message>
      <span class="font-italic" *ngIf="showNoItemsFound">No items found.</span>
    </div>
  </div>
</div>

<ng-template #defaultTemplate let-r="result" let-t="term">
  <span> {{ format(r) }} </span>
</ng-template>
