<div class="d-flex flex-column h-100">
  <div class="navbar navbar-dark bg-dark navbar-expand-md">
    <a routerLink="">
      <b-brand></b-brand>
    </a>
    <button type="button" class="navbar-toggler" (click)="onToggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" [ngbCollapse]="isCollapsed">
      <ol class="nav navbar-nav">
        <!--
        <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active" (click)="onCollapse()">Support Requests</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="dashboard" routerLinkActive="active" (click)="onCollapse()">Stores</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['dashboard']" routerLinkActive="active" (click)="onCollapse()">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['dashboard']" routerLinkActive="active" (click)="onCollapse()">Users</a></li>
        <li class="nav-item" *ngIf="canViewData"><a class="nav-link" routerLink="['dashboard']" routerLinkActive="active" (click)="onCollapse()">Data</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['dashboard']" routerLinkActive="active" (click)="onCollapse()">{{ currentUserFullName }}</a></li>
        -->
        <li *ngIf="(loggedIn$ | async) && (selectedOfficeId$ | async) " ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" ngbDropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">
            Go To
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
              <a *ngFor="let entity of entityTypeDtos$ | async" class="dropdown-item" (click)="onSelectEntityType(entity)" routerLinkActive="active" >{{entity.EntityName}}</a>
          </div>
        </li>

        <li *ngIf="(loggedIn$ | async) && (selectedOfficeId$ | async) " ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" ngbDropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">
              Choose an Office
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                <a *ngFor="let office of offices$ | async" class="dropdown-item" (click)="onSelectOffice(office)" routerLinkActive="active" >{{office.OfficeName}}</a>
            </div>
          </li>
     

        <!--
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 ml-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        -->
        <!-- <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div> -->

      </ol>     
      <ol class="nav navbar-nav">
          <li class="nav-item">
              <span>              
                <a class="nav-link" *ngIf="!(loggedIn$ | async)" href="javascript:void(0)" (click)="onLogIn()">
                    <fa-icon icon="user-plus"></fa-icon>&nbsp;&nbsp;Sign Up
                  </a>               
              </span>         
          </li>
        <li class="nav-item">
            <span>
              <a  class="nav-link" *ngIf="loggedIn$ | async" href="javascript:void(0)" (click)="onLogOut()">
                <fa-icon icon="sign-out-alt"></fa-icon>&nbsp;&nbsp;Log Out
              </a>             
              <a class="nav-link" *ngIf="!(loggedIn$ | async)" href="javascript:void(0)" (click)="onLogIn()">
                <fa-icon icon="sign-in-alt"></fa-icon>&nbsp;&nbsp;Log In
              </a>
            </span>         
        </li>
      </ol>
    </div>
  </div>
  <div class="b-rest-of-screen container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>