<mat-card>   
  <mat-card-title class="mb-2">Tenants</mat-card-title>
    <mat-card-content>                
      <div class="h-100 d-flex flex-column">
        <div class="row">        
          <div class="col-12 col-sm-6">
            <mat-card>   
              <mat-card-title class="mb-2">Tenants</mat-card-title>
              <mat-card-content> 
                <div class="col-12 p-1 border d-flex justify-content-between b-toolbar">      
                  <!-- Left Buttons -->
                  <div>
                    <!-- Create -->
                    <button class="btn btn-primary btn-sm" (click)="onTenantCreate()" [disabled]="!canCreateTenant">
                      <fa-icon icon="plus"></fa-icon>
                      <span class="d-none d-md-inline ">&nbsp;&nbsp;Create Teannt</span>
                    </button>
            
                    <!-- Refresh -->
                    <button class="btn btn-light btn-sm text-primary b-white-button" (click)="fetch()">
                      <fa-icon icon="sync-alt"></fa-icon>
                      <span class="d-none d-md-inline ">&nbsp;&nbsp;Refresh</span>
                    </button>
                  </div>                
                </div>
                <div class="row b-rest-of-screen bg-light d-flex justify-content-center">
                  <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
                    <div *ngIf="!(loading$ | async)" >
                        <div *ngFor="let tenant of tenants$ | async" class="p-2 bd-highlight">
                          <button class="btn btn-primary btn-sm" mat-button (click)="onSelectTenant(tenant)" (dblclick)="goToDetail(tenant)">{{tenant.TenantName}}</button>
                        </div>  
                    </div>
                                  
                    <!-- Spinner -->
                    <div class="w-100 p-2 d-flex justify-content-center" *ngIf="(loading$ | async)">
                      <b-spinner [scale]="2"></b-spinner>
                    </div>         
                    <!-- No items found -->
                    <!-- <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">No items found.</div> -->  
                    <!-- Error message -->
                    <b-error-message *ngIf="(error$ | async)">
                      {{ error$ | async }}
                    </b-error-message>                            
                  </div>                 
                </div>
              </mat-card-content>                
            </mat-card>
          </div>                  
          <div class="col-12  col-sm-6">
            <mat-card>   
              <mat-card-title class="mb-2">Offices</mat-card-title>
              <mat-card-content> 
                <div class="col-12 p-1 border d-flex justify-content-between b-toolbar">     
                  <!-- Left Buttons -->
                  <div>
                    <!-- Create -->
                    <button class="btn btn-primary btn-sm" (click)="onOfficeCreate()" [disabled]="!canCreateOffice">
                      <fa-icon icon="plus"></fa-icon>
                      <span class="d-none d-md-inline ">&nbsp;&nbsp;Create Office</span>
                    </button>
            
                    <!-- Refresh -->
                    <button class="btn btn-light btn-sm text-primary b-white-button" (click)="fetch()">
                      <fa-icon icon="sync-alt"></fa-icon>
                      <span class="d-none d-md-inline ">&nbsp;&nbsp;Refresh</span>
                    </button>
                  </div>              
                </div>

                <div class="row b-rest-of-screen bg-light d-flex justify-content-center">
                  <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
                    <div *ngIf="!(loading$ | async)" >
                      <div  *ngFor="let office of selectedTenantOffices$ | async" class="p-2 bd-highlight">
                        <button class="btn btn-primary btn-sm" mat-button (click)="onSelectOffice(tenant)">{{office.OfficeName}}</button>
                      </div>  
                    </div>                                  
                    <!-- Spinner -->
                    <div class="w-100 p-2 d-flex justify-content-center" *ngIf="(loading$ | async)">
                      <b-spinner [scale]="2"></b-spinner>
                    </div>         
                    <!-- No items found -->
                    <!-- <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">No items found.</div> --> 
                    <!-- Error message -->
                    <b-error-message *ngIf="(error$ | async)">
                      {{ error$ | async }}
                    </b-error-message>                                                
                  </div>                  
                </div>

              </mat-card-content>                
            </mat-card>
          </div>
        </div>  
      </div>   
  </mat-card-content>           
</mat-card>
